.exercise-card {
  align-items: center;
  background: hsl(0, 0%, 100%);
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin: 1em;

  .name {
    padding: 1em;
  }

  .set {
    display: flex;
    align-items: center;
    justify-content: space-around;

    input {
      border: 1px solid gray;
      text-align: center;
      width: 20%;
    }
  }
}
