@import '../fonts';

.top-bar {
  @extend %font-heading;
  box-sizing: border-box;
  height: 68px;
  padding-top: 20px;

  .title {
    font-size: 24px;
    line-height: 48px;
    text-align: center;
  }
}
